.vis-item.gray  {
    background-color: rgb(0, 0, 0);
    border-width: 2px;
    border-color: rgb(99, 99, 99);
    color: rgb(167, 167, 167);
}

.vis-item.gray .item_title  {
    font-size: 12pt;
    font-weight: bold;
    color: rgb(99, 99, 99);
}


.vis-item.gray .item_detail  {
    display: block;
    line-height: 45%;
    font-size: 10pt;
    font-style: italic;
    color: rgb(167, 167, 167);
    /*max-width: 70px;
    word-wrap: break-word;
    text-align: left;*/
}

.vis-item.gray.vis-selected .item_detail {
    display: block;
}

.vis-item.gray.vis-selected {
    background-color: rgb(84, 84, 84);
}